@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="Width=device-width" />
    <title>GetAllBooks</title>
</head>

<body>

    <h1>Get all book list</h1>
    <button> Click me</button>
</body>
</html>