@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="Width=device-width" />
    <title>ContactUs</title>
</head>

<body>

    <h1>This is the Contact page of the application </h1>
    <p></p>
</body>
</html>
