@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="Width=device-width" />
    <title>Index</title>
</head>

<body>

    <h1>Welcome to Loti Bookstore Method</h1>
    <p>This is the home page of our book store application</p>
</body>
</html>